#!/bin/bash

# Install and initialize chezmoi and dotfiles
# sh -c "$(curl -fsLS get.chezmoi.io)" -- init --apply {{ .github_username }}

# Set fish as default shell
# {{ if eq .chezmoi.os "darwin" }}
# sudo chsh -s /opt/homebrew/bin/fish
# {{ else if eq .chezmoi.os "linux" }}
# sudo chsh -s /usr/bin/fish
# {{ else }}
# echo "OS not supported: $(uname)"
# {{ end }}

# Install zoxide
# curl -sS https://raw.githubusercontent.com/ajeetdsouza/zoxide/main/install.sh | bash

# Install starship
# curl -sS https://starship.rs/install.sh | sh

# Install Tailscale
# curl -fsSL https://tailscale.com/install.sh | sh
