#!/usr/bin/fish

printf "\n##################################################\n"
printf "## Installing Nodejs"
printf "\n##################################################\n"
{{ if or .osid "darwin" "linux-ubuntu" }}
if command -v node &> /dev/null; then
  printf "Nodejs is already installed.\n"
else
  nvm install 22
  nvm use 22
  set --universal nvm_default_version 22
fi
{{ else }}
printf "OS \"$(uname)\" not supported. Please install Nodejs via NVM manually.\n"
printf "https://github.com/nvm-sh/nvm?tab=readme-ov-file#installing-and-updating\n"
{{ end }}
