#!{{ lookPath "fish" }}

printf "\n##################################################\n"
printf "## Installing Tailscale"
printf "\n##################################################\n"
{{ if eq .osid "darwin" }}
if command -v /Applications/Tailscale.app/Contents/MacOS/Tailscale > /dev/null 2>&1
  printf "Tailscale is already installed.\n"
else
  curl -fsSL https://tailscale.com/install.sh | sh
end
{{ else if eq .osid "linux-ubuntu" }}
printf "Tailscale gets installed as an LXC container on Linux for homelab VM nodes.\n"
printf "If Tailscale really does need to get installed, please run the following:\n"
printf "curl -fsSL https://tailscale.com/install.sh | sh\n"
{{ else }}
printf "OS \"$(uname)\" not supported. Please install Tailscale manually.\n"
printf "curl -fsSL https://tailscale.com/install.sh | sh\n"
{{ end }}
