{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

[data]
  github_username = "bwobst"
  osid = {{ $osid | quote }}

{{ if eq .chezmoi.os "darwin" }}
[cd]
  command = "/opt/homebrew/bin/fish"
{{ end }}

[git]
  autoCommit = true
  autoPush = true
